/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2018, 1:09:35 AM
    Author     : Michael
*/

#signin{
    text-align: center;
}
#PageButtons{
    text-align: center;
}
h1{
    text-align: center;
}
#home{
    text-align: center;
    padding: 2px;
}
#signout{
    text-align: center;
    padding: 2px;
}
#upload{
    text-align: center;
}
#search{
    text-align: center;
}
#SubGraphs{
    text-align: center;
}
#month{
    text-align: right;
}
#about{
    text-align: center;
}